.music-styles {
  list-style: none;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  li {
    background-color: rgba(217, 217, 217, 0.15);
    padding: 2px 14px;
    border-radius: 3px;
  }
}

@media screen and (min-width: 760px) {
  .music-styles {
    margin: 24px 0 32px;
  }
}
