form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .input-group {
    margin: 16px 0 12px;
    position: relative;
    width: 190px;

    input {
      padding: 8px 13px;
      outline: none;
      border: 2px solid rgb(200, 200, 200);
      background-color: transparent;
      border-radius: 20px;
      width: 100%;
      color: var(--text-color);
      transition: all 0.3s ease;
      transition: background-color 15000s ease-in;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-fill-color: var(--text-color);
    }

    label {
      position: absolute;
      left: 0;
      padding: 8px 13px;
      margin-left: 0.5em;
      pointer-events: none;
      transition: all 0.3s ease;
      color: rgb(200, 200, 200);
    }

    input:focus,
    input:valid {
      border-color: var(--secondary-color);
    }

    input:user-invalid {
      border-color: brown;
    }

    &:has(input:not(:user-invalid)) p,
    &:has(input:not(:user-invalid)) ul li {
      display: none;
    }
  }

  .input-group input:is(:focus, :not(:placeholder-shown)) ~ label {
    transform: translateY(-80%) scale(0.9);
    padding: 0.4em;
  }

  button {
    color: var(--text-color);
    margin: 15px auto;
    height: 45px;
    width: 160px;
    border-radius: 23px;
    padding: 5px;
    background-color: var(--secondary-color);
    border: var(--secondary-color) 2px solid;
    box-shadow: 6px 4px 4px 0 rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    cursor: pointer;
  }

  p {
    color: var(--text-color);

    a {
      color: var(--text-color);
      font-weight: 900;
    }
  }
}

@media screen and (min-width: 768px) {
  form {
    & > a {
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }
    & > a:hover {
      font-weight: 700;
    }

    button[type="submit"] {
      background-color: transparent;
      overflow: hidden;
      transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    button[type="submit"]::before {
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
      width: 60px;
      height: 60px;
      border-radius: inherit;
      scale: 0;
      z-index: -1;
      background-color: var(--secondary-color);
      transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    button[type="submit"]:hover::before {
      scale: 3;
    }

    button[type="submit"]:hover {
      scale: 1.1;
      box-shadow: 0 0px 20px rgba(86, 59, 111, 0.4);
    }

    button[type="submit"]:active {
      scale: 1;
    }
  }
}
