@font-face {
  font-family: "StickNoBills";
  src: url("/src/assets/fonts/StickNoBills-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Sen";
  src: url("/src/assets/fonts/Sen-VariableFont_wght.ttf");
}

@font-face {
  font-family: "AntonSC";
  src: url("/src/assets/fonts/AntonSC.ttf");
}

@font-face {
  font-family: "DMSans";
  src: url("/src/assets/fonts/DMSans.ttf");
}

@font-face {
  font-family: "LibreBarcode39Text";
  src: url("/src/assets/fonts/LibreBarcode39Text.ttf");
}

:root {
  --primary-color: #282828;
  --lighter-primary-color: rgb(49, 49, 49);
  --text-color: #ededed;
  --darker-text-color: #c2c2c2;
  --secondary-color: rgba(86, 59, 111, 1);

  --text-font: DMSans, sans-serif;
  --website-font: LibreBarcode39Text, sans-serif;
  --name-font: AntonSC, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--text-font);
}

body {
  margin: 0;
  color: var(--text-color);
}

#root {
  background-color: black;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: unset;
}
