@font-face {
  font-family: "StickNoBills";
  src: url("/src/assets/fonts/StickNoBills-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Sen";
  src: url("/src/assets/fonts/Sen-VariableFont_wght.ttf");
}

:root {
  --primary-color: #282828;
  --text-color: #ededed;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--text-color);
}

#root {
  background-color: black;
  min-height: 100vh;
}
