.login-page {
  min-height: calc(100vh - 86px - 75px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/freepik__the-style-is-modern-and-it-is-a-detailed-illustrat__71022.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 16px;

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: rgba(63, 63, 63, 0.8);
    padding: 25px;
    border-radius: 30px;
    box-shadow:
      inset -4px -7px 5px 0px var(--primary-color),
      inset 2px 7px 5px 0px rgba(217, 217, 217, 0.5),
      0 4px 15px rgba(0, 0, 0, 0.3);
  }

  h1 {
    margin: 16px auto 16px;
    font-size: 40px;
    color: var(--text-color);
  }

  &:has(input:user-invalid) p {
    display: block;
    margin: 12px auto 0;
    font-size: 0.8rem;
  }

  p {
    margin-top: 1em;

    a {
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) {
  .login-page {
    justify-content: flex-end;
    min-height: calc(100vh - 75px - 56px);

    section {
      margin-right: 20vw;
    }
  }
}
