.login-page {
  min-height: calc(100vh - 86px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/images/freepik__the-style-is-modern-and-it-is-a-detailed-illustrat__71022.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px;
}
