.splash-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);

  h2 {
    font-family: "StickNoBills", sans-serif;
  }

  span {
    display: block;
  }

  span:first-of-type {
    font-size: 40px;
  }

  span:last-of-type {
    font-size: 20px;
  }

  img {
    width: 108px;
  }

  h1 {
    font-family: "Sen", sans-serif;
    font-size: 48px;
  }
}

@media screen and (min-width: 630px) {
  .splash-screen {
    text-shadow: 3px 6px 5px rgba(0, 0, 0, 0.4);

    span:first-of-type {
      font-size: 60px;
    }

    span:last-of-type {
      font-size: 30px;
    }

    img {
      width: 162px;
    }

    h1 {
      font-size: 72px;
    }
  }
}

@media screen and (min-width: 920px) {
  .splash-screen {
    text-shadow: 6px 8px 6px rgba(0, 0, 0, 0.4);

    h2 {
      display: none;
    }

    img {
      width: 340px;
    }

    h1 {
      font-size: 128px;
    }
  }
}
