.status-user {
  min-height: calc(100vh - 56px - 85px);
  width: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  p {
    text-align: center;
    padding: 1rem;
    line-height: 1.5;
  }
  img {
    display: none;
  }
}

.status-user-form div {
  display: flex;
  gap: 0;
  label {
    font-size: 1rem;
  }
}

.status-user input[type="radio"] {
  display: none;
}

.status-user label {
  width: fit-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  padding: 2px 8px;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 0px;
  color: rgba(255, 255, 255, 0.7);
  background-image: linear-gradient(
    -70deg,
    rgba(0, 0, 0, 0.16) 0%,
    rgba(0, 0, 0, 0.16) 40%,
    rgba(255, 255, 255, 0.1) 50%,
    rgba(0, 0, 0, 0.16) 60%,
    rgba(0, 0, 0, 0.16) 100%
  );
  background-size: 250% 100%;
  background-position: 100% 0;
  transition: all 0.3s ease;
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  font-size: 18px;
  font-weight: 900;
  box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.17), inset 0 -2px 1px
    rgba(0, 0, 0, 0.15);
}

.status-user label:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.status-user label:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.status-user label:hover {
  background-color: #2c2c2c;
  color: white;
  transform: translateY(-1px);
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 2px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px,
    rgba(255, 255, 255, 0.17) 0px 3px 1px 0px inset;
}

.status-user label span {
  pointer-events: none;
  transform: translateY(0px);
  transition: transform 0.3s ease;
}

.status-user input[type="radio"]:checked + label {
  background-color: #2c2c2c;
  color: white;
  background-position: 0% 0;
  transform: translateY(-1px);
  box-shadow:
    rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset,
    rgba(255, 255, 255, 0.17) 0px -1px 1px 0px,
    rgba(0, 0, 0, 0.17) 0px 2px 4px 1px,
    rgba(255, 255, 255, 0.17) 0px 3px 1px 0px inset;
}

.status-user input[type="radio"]:checked + label span {
  transform: translateY(-1px);
}

.status-user form {
  padding: 16px;
}

.status-user form input {
  margin: 16px 0;
}

.status-user form select {
  margin: 16px 0;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  gap: 1.5rem;

  a {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 15px;
    box-shadow: 0px 2px 4px 1px #2c2c2c, inset 0px 3px 1px 0px
      rgba(255, 255, 255, 0.17);
    border: none;
    cursor: pointer;

    font-size: 1rem;
    padding: 10px;
  }
}

.home-buttons > div:first-child {
  display: flex;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .status-user {
    overflow: hidden;
    p {
      font-size: 1.25rem;
    }
  }
  .status-user img {
    display: flex;
    border-radius: 16px;
    width: 50%;
    height: auto;
  }
  .home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 80%;
    padding: 1rem;
    margin: auto;
    font-size: 1rem;
  }
  .status-user-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;
  }

  .status-user label {
    height: 36px;
    align-items: center;
    min-width: 100px;
  }
}
