.event-container {
  height: calc(100vh - 56px - 75px);
  display: flex;
  padding: 20px;
  gap: 2rem;
  section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 45px;
  }

  img {
    width: 300px;
    border-radius: 20px;
  }
  FavoriteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
}
.event-container p {
  text-align: center;
  max-width: 600px;
}

.event-artists {
  img {
    max-height: fit-content;
    width: 100px;
    border-radius: 10px;
    margin-left: 16px;
  }
  a {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  h3,
  p {
    padding: 0 16px;
    margin: 0;
  }
}

.artist-info {
  p {
    display: flex;
    gap: 1rem;
  }
}
.event-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  img {
    width: 600px;
    border-radius: 20px;
    display: block;
    margin: 4rem 0;
    box-shadow:
      inset -4px -7px 5px rgba(0, 0, 0, 0.25),
      0 4px 15px rgba(0, 0, 0, 0.3),
      inset 2px 7px 5px rgba(217, 217, 217, 0.5);
  }
}

.event-image > button {
  position: absolute;
  top: 70px;
  right: 80px;
  z-index: 2;
  background: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 50%;
  padding: 0.4rem;
  cursor: pointer;
}
.event-place {
  margin-top: 2rem;
  text-align: center;
}

.event-place a:hover {
  text-decoration: underline;
}

.event-place :first-child {
  font-size: 37px;
}
