.navbar {
  background-color: rgb(28, 28, 28);
  display: flex;
  /*flex-wrap: wrap;*/
  align-items: center;
  justify-content: space-between;
  /* position: fixed;*/
  /*width: 100%;*/
  min-height: 75px;
  padding: 1rem;
  color: #fff;
  gap: 200px;
}
header nav ul li:first-child {
  background-color: blue;
}
header nav ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  padding: 0 0.3rem;
  color: inherit;
}

.navbar_burger {
  display: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  color: inherit;
}

header nav ul li:last-child {
  display: block;
}

@media screen and (max-width: 768px) {
  header nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: -100vw;
    visibility: hidden;
    bottom: 0;
    height: 100vh;
    padding: 2rem;
    background-color: black;
  }
  header nav ul li:last-child {
    position: fixed;
    top: 1rem;
    left: 1rem;
    z-index: 101;
    display: inline-block;
    visibility: visible;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease-in-out;
  }

  header .navbar.show-nav ul {
    right: 0;
    width: 100vw;
    visibility: visible;
  }
  a {
    display: block;
    padding: 1.5rem;
    font-size: 5vw;
  }
  .navbar_burger {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
  }
  .navbar_burger:hover {
    cursor: pointer;
  }

  .burger_bar,
  .burger_bar::before,
  .burger_bar::after {
    display: block;
    width: 40px;
    height: 3px;
    position: relative;
    border-radius: 3px;
    background: #fff;
    transition: all .5s ease-in-out;
  }
  .burger_bar::before,
  .burger_bar::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .burger_bar::before {
    transform: translateY(-12px);
  }

  .burger_bar::after {
    transform: translateY(12px);
  }
  .show-nav .burger_bar::before {
    transform: rotate(-45deg);
  }
  .show-nav .burger_bar::after {
    transform: rotate(45deg);
  }
  .show-nav .burger_bar {
    background: transparent;
  }
}
