.contact-page {
  padding: 32px 16px;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 24px;
    padding-bottom: 16px;
    text-align: center;
  }

  .contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 100%;
    margin-top: 24px;
  }

  .contact-form-container {
    background-color: rgba(63, 63, 63, 0.8);
    padding: 25px;
    border-radius: 30px;
    box-shadow:
      inset -4px -7px 5px 0px var(--primary-color),
      inset 2px 7px 5px 0px rgba(217, 217, 217, 50),
      0 4px 15px rgba(0, 0, 0, 0.3);
  }

  .contact-form-container .input-group {
    textarea {
      padding: 8px 13px;
      outline: none;
      border: 2px solid rgb(200, 200, 200);
      background-color: transparent;
      border-radius: 20px;
      width: 100%;
      color: var(--text-color);
      transition: all 0.3s ease;
      min-height: 100px;
      resize: vertical;
    }

    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    textarea:-webkit-autofill:active {
      -webkit-text-fill-color: var(--text-color);
    }

    textarea:focus,
    textarea:valid {
      border-color: var(--secondary-color);
    }

    &:has(textarea:is(:focus, :not(:placeholder-shown))) label {
      transform: translateY(-80%) scale(0.9);
      padding: 0.4em;
    }
    &:has(textarea:not(:user-invalid)) p {
      display: none;
    }
  }

  .contact-map-block {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-map-block iframe {
    width: 100%;
    height: 250px;
    border: none;
    border-radius: 16px;
  }

  .contact-map-block div {
    margin-top: 16px;
    font-size: 0.95rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .contact-page {
    height: calc(100vh - 75px - 56px);
    padding: 0 48px 64px 48px;

    h1 {
      font-size: 2rem;
      padding: 10px 24px;
      margin-bottom: 50px;
    }

    .contact-content {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 120px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .contact-form-container .input-group {
      width: 300px;
    }

    .contact-form-container,
    .contact-map-block {
      flex: 1;
      max-width: 50%;
      height: 50%;
      padding: 20px;
      margin: auto;
    }
    .contact-map-block {
      gap: 20px;
    }

    .contact-map-block div {
      font-size: 1rem;
    }
  }
}
