.social-networks-form {
  width: 300px;
  border-radius: 15px;
  background-color: var(--primary-color);

  section {
    display: grid;
    width: 92%;
    grid-template-columns: 35% 65%;
    margin: 0 auto;

    select {
      height: 37px;
      border-radius: 20px 0 0 20px;
      border: 2px solid var(--secondary-color);
      background-color: var(--lighter-primary-color);
      color: var(--text-color);
      padding: 0 4px 0 8px;
      outline: none;
    }

    input {
      height: 37px;
      border-radius: 0 20px 20px 0;
      border: 2px solid var(--secondary-color);
      background-color: var(--lighter-primary-color);
      border-left: none;
      outline: none;
      color: var(--text-color);
      padding: 0 8px 0 8px;
    }
  }

  ul {
    display: flex;
    margin-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px 32px;

    li {
      display: flex;
      align-items: center;
      gap: 16px;

      p {
        margin: 0;
      }
    }

    button {
      height: 16px;
      width: 16px;
      border: none;
      background-image: url("/images/delete-cross.svg");
      margin: 0;
    }
  }
}
